/* Colores suaves para diferenciar los grupos */
.bg-light-blue {
    background-color: #e7f3ff; /* Azul muy suave para fijos */
    font-weight: bold;
}

.bg-light-yellow {
    background-color: #fffbe7; /* Amarillo/Crema suave para variables */
    font-weight: bold;
}

.opt-fijo {
    background-color: #ffffff;
    color: #0d6efd; /* Texto azul para resaltar */
}

.opt-variable {
    background-color: #ffffff;
    color: #198754; /* Texto verde para resaltar */
}

/* Opción Dorado/Amarillo (Muy legible en fondos oscuros) */
.texto-dorado {
    color: #ffd700 !important;
    font-weight: bold;
    text-decoration: none;
}
.texto-dorado:hover {
    color: #ffffff !important; /* Cambia a blanco al pasar el mouse */
}

/* Opción Cian/Celeste (Limpio y moderno) */
.texto-cian {
    color: #00fbff !important;
    font-weight: 500;
    text-decoration: none;
}
.texto-cian:hover {
    color: #ffffff !important;
}

/* Opción Naranja (Enérgico) */
.texto-naranja {
    color: #ff9f43 !important;
    font-weight: bold;
    text-decoration: none;
}

.texto-resaltado {
    color: #00fbff !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Esto crea un contorno oscuro invisible */
    font-weight: bold;
}